<div class='big mod modBlogPost no_bg'>
  <div class='content'>
    <p class='info'>
      <span>{{post.date | date: "%d-%m-%Y" }}</span>
      /
      <span>
        em
        {% for cat in post.categories %}
          {% categorylink cat %}{{cat}}{% endcategorylink %}{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </span>
      <!--span class="disqus-comment-count" data-disqus-identifier="{{post.slug}}">First article</span-->
    </p>
    <h3><a href="{{post.url}}">{{post.title}}</a></h3>
    <div class='images'>
      {% for image in post.images %}
        <div class='image'><img alt="" src="{{image}}" /></div>
      {% endfor %}
    </div>
    {% if post.images %}
    <div class='one spacing'></div>
    {% endif %}
    <p>{{post.excerpt}}</p>
    <a class="button small" href="{{post.url}}">Ler mais</a>
  </div>
</div>
