<div class="about">

  <h3>Sobre</h3>
  <img src="/images/fusca.png" alt="Sérgio Vilar">
  <p>
    Este é o diário do Pamonha, um fusca 79 bege jamaica, e aqui conto minhas experiências com meu primeiro carro, nos acompanhe nessa aventura.
  </p>
</div>

<!--div class='links'>
  <h3>Arquivo</h3>

  <ul>
    {% datearchive %}{% enddatearchive %}
  </ul>
</div-->
<div class='links'>
  <h3>Categorias</h3>
  <ul>
    {% for cat in site.categories %}
    <li>{% categorylink cat[0] %}{{cat | first | capitalize}}{% endcategorylink %}</li>
    {% endfor %}
  </ul>
</div>
<div class='links'>
  <h3>Posts Recentes</h3>
  <ul>
    {% for post in site.posts %}
      {% if forloop.index > 6 %}
        {% break %}
      {% endif %}
      <li><a href="{{post.url}}">{{post.title | capitalize}}</a></li>
    {% endfor %}
  </ul>
</div>
<div class='links'>
  <h3>Tags</h3>
  <ul>
    {% for tag in site.tags %}
    {% taglink tag[0] %}{{tag | first }}{% endtaglink %}{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  </ul>
</div>
<div class='four spacing'></div>
