---
layout: blog
---


<div class='mod modBlogPost big no_bg'>
  <div class='images'>
    {% for image in page.images %}
      <div class='image'><img alt="" src="{{image}}" /></div>
    {% endfor %}
  </div>
  <div class='content'>
    <p class='info'>
      <span>{{page.date | date: "%d-%m-%Y" }}</span>
      /
      <span>
        Em
        {% for cat in page.categories %}
          <a href="#">{{cat}}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </span>
    </p>
    <h3><a href="{{page.url}}">{{page.title}}</a></h3>
    {{content}}
  </div>
  <div class="rodape">
    Tags: {% for tag in page.tags %}
    {% taglink tag %}{{tag}}{% endtaglink %}{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  </div>
  <div class='two spacing'></div>
  <div class="row">
    <div class="small-12 large-12 columns">
      <h5>Sobre o autor</h5>
    </div>

  <div class="small-2 large-2 columns">
    <img src="/images/foto.jpg" alt="Sérgio Vilar">
  </div>
  <div class="small-10 large-10 columns">
    <p>
      <strong>Sérgio Vilar</strong><br />Desenvolvedor de Software que escolheu o Fusca para aprender a dirigir e como seu primeiro carro.
      Adora a ideia de trabalhar horas e horas num projeto pessoal, isso inclui fazer pequenos ajustes no seu Fusca 79.
    </p>
  </div>
  </div>
</div>
<a id='comments'></a>
{% include comments.html %}
<div class='four spacing'></div>
