---
layout: default
---

<div class="full">
  <div class="row">
    <div class="large-9 columns">

      <h3>Arquivo para: {{ page.tag }}</h3>

      {% for post in site.posts %}

        {% assign show = "false" %}

        {% for cate in post.tags %}
          {% capture cat %}{{ cate | downcase }}{% endcapture %}
          {% if page.tag == cat %}
            {% assign show = "true" %}
          {% endif %}
        {% endfor %}

        {% if show == "true" %}
          {% include post_item.html %}
        {% endif %}

      {% endfor %}

    </div>
    <div class="large-3 columns" id="sidebar">
      {% include sidebar.html %}
    </div>
  </div>
</div>
